{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>Darwoft</title>
{% endblock%}
	
<style>
    zoom: 100%;
textarea {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px #000;
    border: 5px solid transparent;
}
#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
</style>
{% block container %}
<body id="bg" style="zoom: 85%; background-position: center center; background-attachment: fixed;
background-repeat:no-repeat;padding:5px; background-image: url('{% static "img/back.png"%}') ";>
    <div style="background-image: url({% static 'static/img/back.png' %});" >

        <div class="row"style= "align:center">
            {% for post in posts %}
            <div class="col-sm-12 col-md-8 offset-md-4 mt-5 p-0 post-container,width:50%;">
                    <div class="card" style="width: 32rem;width:50%;background: #f9f7f7">
                        <div class="card-body"style="padding:0rem">
                            <div class="media pt-3 pl-3 pb-1">
                                <a href="{% url "users:detail" post.user.username%}">
                                    <img style="border-radius: 50%; width: 50px;height: 50px;object-fit: cover;"height="50" src="{{ post.profile.picture.url }}" alt="{{ post.user.username }}">
                                </a>
	    <h3 style="margin-top:0px;margin-left:6px;position:relative;font-size:16px" class="card-title"><b>{{ post.user.first_name }} {{post.user.last_name}}<br></b><br></h3><br> <br>
	  
	    <small style="margin-top:-3px;margin-left:57px;position:absolute;"><br>{{post.created}}</small>
                            </div>

</div>
		    </div>
			    <div class="card" style="width: 32rem;width:50%;">
                        <div class="card-body">

                                    <p class="card-text">{{ post.desc }}</p>

                        </div>
                    </div>
                <img style="width: 50%; heigth:60%" src="{{ post.photo.url }}" alt="{{ post.title }}">

                <div class="media-body">
			<button type="button" class="glyphicon glyphicon-comment" data-toggle="collapse" data-target="#comment{{post.id}}"></button>                    
 &nbsp;&nbsp;
 &nbsp;&nbsp;
 &nbsp;&nbsp;
 &nbsp;&nbsp;
               &nbsp;&nbsp;
 &nbsp;&nbsp;
 &nbsp;&nbsp;
 &nbsp;&nbsp;
 &nbsp;&nbsp;
&nbsp;&nbsp;
 &nbsp;&nbsp;
               &nbsp;&nbsp;
                    <a href="" style="color: #000; font-size: 20px;">
                        <i class="far fa-heart"></i>
                    </a>
                    <br>
                </p></b>



                </div>

		<div id="comment{{post.id}}" class="collapse">
    
<div class="card" style="width: 32rem;width:50%;">
                        <div class="card-body">

{% for comment in comments %}
  <div class="comment">
    <p class="info">
     {% if comment.post_id == post.id %}
      {{ comment.name }} {{ comment.surname }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
     {% endif %}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}
			</div>			</div>
		</div>
        <form action="{% url 'posts:post_detail' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                        <input
                        class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                        name="pk"
                        size="16"
                        type="hidden"
                        value="{{post.id}}"
                >
                <input
                        class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                        name="title"
                        size="16"
                        type="hidden"
                        value="{{post.title}}"
                >

                <input
                        class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                        name="name"
                        size="16"
                        type="hidden"
			value="{{user.first_name}}">
		 <input
                        class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                        name="surname"
                        size="16"
                        type="hidden"
			value="{{user.last_name}}">
 <script>
		 function do_resize(textbox) {

 var maxrows=10;
  var txt=textbox.value;
  var cols=textbox.cols;

 var arraytxt=txt.split('\n');
  var rows=arraytxt.length;

 for (i=0;i<arraytxt.length;i++)
  rows+=parseInt(arraytxt[i].length/cols);

 if (rows>maxrows) textbox.rows=maxrows;
  else textbox.rows=rows;
 }
$(function() {
    $("form input").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('button[type=submit] .default').click();
            return false;
        } else {
            return true;
        }
    });
});

var input = document.getElementById("textareacomment");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("btncomment").click();
  }
});
</script>

                <textarea id="textareacomment"class="form-control form-rounded"  onkeyup="new do_resize(this);" cols="50"  name="body"  rows="1"
                          style="width:50%;" value="{{ comment.body }}"></textarea>
                <button id="btncomment"class="btn btn-outline-info btn-lg" style="visibility:hidden;width:50%; display:block;margin:center;" type="submit">
                    Publish
                </button>
            </form>
        </div>


                {% endfor %}
        </div>
    </div>

{% endblock %}
</body>
