{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>Darwoft</title>
{% endblock%}
{% block container %}
<body id="bg" style="zoom: 85%; background-position: center center; background-attachment: fixed;
background-repeat:no-repeat;padding:5px; background-image: url('{% static "img/back.png"%}') ";>
</body>

<div style="width: 40%; height: 5%;  float:left;"><h3><i>Current month</i></h3></div>
<div style="width: 60%; height: 5%; float:right;"><h3><i>Winners of revious Month</i></h3></div>
<br>
<br>
<br>
<br>
<div>
<table style="float: left ;width: 40%;"class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> </td>

      <td>  </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> </td>
      <td>  </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>  </td>
      <td>  </td>
    </tr>
  </tbody>
</table>
&nbsp;&nbsp;&nbsp;&nbsp;

<table name="test" style="float: left ;width: 40%;" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> </td>

      <td>  </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> </td>
      <td>  </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
